@font-face{
  font-family: "Messina";
  src: url("MessinaSans-Light.ttf") format("truetype");
}

@font-face{
  font-family: "ComputerModern";
  src: url("cmunss.ttf") format("truetype")
}

html *
{
    color: black;
    font-family: "Messina";
    line-height: 1.5;
}

body {
  background: white;
  font-family: "Messina";
  margin-top: 50px;
  margin-left: 100px;
  }

h1 {
  font-family: "Messina";
  font-size: 2.5em;
  background: -webkit-linear-gradient(blue, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

h2 {
  font-family: "Messina";
  font-size: 1.7em;
  color: blue
  }

h3 {
  font-family: "Messina";
  font-size: 1.5em;
  color: black;
  }

h4 {
  font-family: "Messina";
  font-size: 1.4em;
  color: orange;
}

form {
  font-size: 1.4em;
}

p {
  font-family: "Messina";
  font-size: 1.2em;
  color:black;
  }

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font: "Messina";
  float: left;
  color: violet;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: violet;
  color: white;
}