<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            function myFunction() {
                let count = Number(sessionStorage.getItem('count'));
                sessionStorage.setItem('count', count + 1);
                document.getElementById("myText").innerHTML = count;
            }
        </script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
<body onload="myFunction()">
    <div style="text-align:center">
  <h1> Hi, welcome to Polymath </h1>
    <h2> Polymath is a curiosity network that lets you learn about new ideas and topics by exploring the web. &#127758; </h2>
     <h2> 
         {% for message in get_flashed_messages()%}
            <h3> {{message}} </h3>
         {% endfor%}
         <br/>
     </h2>
        <form action="information" method="post">
            Choose another topic!:  <input type="text" name="topic">
            <input type="submit" value="Explore Topic" id="topic_form">
        </form>



        <h4>Your knowledge streak is currently: <span id="myText"></span> &#128293;</h4>
        </div>
    </body>


</html>
