<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
<h1> Hi, welcome to Polymath! </h1>
    <h2> Polymath is a curiosity network that lets you learn about new ideas and topics by exploring the web. </h2>
     <h2> Here are some similar topics!
         <br>
         {% for message in get_flashed_messages()%}
            <li> {{message}} </li>
         {% endfor%}
         <br/>
     </h2>
        <form action="greet" method="post">
            Choose another topic!:  <input type="text" name="topic">
            <input type="submit" value="Explore Topic" id="topic_form">
        </form>
</html>